<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../components/oh-translation-editor.html">
<link rel="import" href="../ordhuset-app/shared-style.html">

<dom-module id="oh-substantive-editor">
  <template>
    <style include="shared-styles">
    </style>

    <firebase-document
        id="document"
        app-name="ordhuset"
        path="/substantives/[[norwegian]]/[[key]]"
        data="{{substantive}}">
    </firebase-document>

    <oh-translation-editor>
    </oh-translation-editor>

    <!-- gender -->
    <label id="genderLabel">Gender:</label>
    <paper-radio-group selected="{{editableSubstantive.gender}}" aria-labelledby="genderLabel">
      <paper-radio-button name="feminine">feminine</paper-radio-button>
      <paper-radio-button name="masculine">masculine</paper-radio-button>
      <paper-radio-button name="neuter">neuter</paper-radio-button>
    </paper-radio-group>

    <!-- singular undefinite -->
    <paper-input label="Singular indefinite" value="{{norwegian}}" maxlength="50" disabled></paper-input>

    <!-- singular definite -->
    <paper-input label="Singular definite" value="{{editableSubstantive.singularDefinite}}" maxlength="50"></paper-input>

    <!-- plural undefinite -->
    <paper-input label="Plural indefinite" value="{{editableSubstantive.pluralIndefinite}}" maxlength="50"></paper-input>

    <!-- plural definite -->
    <paper-input label="Plural definite" value="{{editableSubstantive.pluralDefinite}}" maxlength="50"></paper-input>
    <paper-input label="Alternative plural definite" value="{{editableSubstantive.pluralDefiniteAlt}}" maxlength="50"></paper-input>

    <div class="center">
      <paper-button on-tap="save" class$="[[saveClass(key)]]">Done</paper-button>
      <!--<paper-button on-tap="save" disabled$="[[isNotValid(norwegian, editableSubstantive)]]">Save</paper-button>-->
      <paper-button on-tap="delete" class$="[[deleteClass(key)]]" disabled$="[[!isDeletable(key)]]">Delete</paper-button>
      <paper-button on-tap="cancel" class$="[[cancelClass(key)]]">Cancel</paper-button>
    </div>

  </template>
  <script>
    Polymer({
      is: 'oh-substantive-editor',

      behaviors: [Polymer.OrdhusetBehavior],

      properties: {
        norwegian: {
          type: String,
          notify: true,
          value: { isSubstantive: false, isVerb: false, isAdjective: false },
          //observer: 'onNorwegianChange',
        },
        key: {
          type: String,
          notify: true,
          observer: 'onKeyChange',
        },
        substantive: {
          type: Object,
          notify: true,
          observer: 'onSubstantiveChanged',
        },
        editableSubstantive: {
          type: Object,
        }
      },

      setToDefault: function() {
        this.editableSubstantive = {
              gender: 'feminine',
              //singularIndefinite: '', // The singular indefinite is the key!
              singularDefinite: '',
              pluralIndefinite: '',
              pluralDefinite: '',
              pluralDefiniteAlt: '',
            };
      },

// This should return a promise, and give more details about why it is not valid.
      isValid: function(nor, sub) {
        return (this.isNew || nor && nor != '')
            && sub
            && (sub.gender == 'feminine' || sub.gender == 'masculine' || sub.gender == 'neuter')
            && sub.singularDefinite != ''
          //  && sub.pluralIndefinite != ''
          //  && sub.pluralDefinite != ''
            ;
      },

      isNotValid: function(nor, sub) {
        return !this.isValid(nor, sub);
      },

      isDeletable: function(theKey) {
        return theKey != '';
      },

      saveClass: function(theKey) {
        //if(theKey == '')
          return '';
        //else
        //  return 'hidden';
      },

      deleteClass: function(theKey) {
        if(theKey != '')
          return '';
        else
          return 'hidden';
      },

      cancelClass: function(theKey) {
        if(theKey == '')
          return '';
        else
          return 'hidden';
      },

      save: function() {
        if (this.isValid(this.norwegian, this.editableSubstantive)) {
          if(this.$.document.isNew) {
            this.fire('done');
          }
          else {
            this.saveInDB()
              .then(function (){
                console.log("Substantive has been updated in DB");
                this.fire('saved', {});
              })
              .catch(function(error) {
                console.log(error);
              });
          }
        }
        else {
          console.warn("Tried to push an invalid substantive in database:\n" + JSON.stringify(this.substantive));
          return Promise.reject(new Error("Tried to push an invalid substantive in database"));
        }
      },

      /**
       * Saves the substantive in the datase
       * If it is new it is created,
       * otherwise it is updated.
       */
      saveInDB: function() {
        if (this.$.document.isNew) {
          this.substantive = this.editableSubstantive;
          console.log("Inserting a new substantive: " + JSON.stringify(this.substantive));
          return this.$.document.save('/substantives/' + this.norwegian + '/')
            .then(function() {
              return this.$.document.reset()
                .then(function() {
                  return Promise.resolve();
                }.bind(this))
                .catch(function(error) {
                  console.warn("Unable to reset after save.");
                  return Promise.reject(error);
                }.bind(this));
            }.bind(this))
            .catch(function(error) {
              console.warn("Unable to save substantive:\n" + JSON.stringify(this.substantive));
              return Promise.reject(error);
            }.bind(this));
        }
        else {
          console.log("Modifying a substantive: " + JSON.stringify(this.substantive));

          return this.$.document.setStoredValue('/substantives/' + this.norwegian + '/' + this.key, this.editableSubstantive);

          /*return this.$.document.destroy().then(function() {
            this.$.document.reset().then(function(){
              return this.save();
            }.bind(this));
          }.bind(this)).catch(function () {
            console.warn("Unable to destroy the word in order to reinsert it updated afterward");
            return Promise.reject();
          });*/

        }
      },

      delete: function (){
        return this.$.document.destroy().then(function() {
            this.$.document.reset().then(function(){
              return Promise.resolve();
            }.bind(this));
          }.bind(this)).catch(function () {
            console.warn("Unable to destroy the word in order to reinsert it updated afterward");
          });
      },

      cancel: function() {
        this.fire('cancel', this.key, {bubbles:false});
      },

      onKeyChange: function(newData, oldData) {
        //console.log("key changed!\n" +
        //            "new: " + JSON.stringify(newData) + "\n" +
        //            "old: " + JSON.stringify(oldData));
        if(oldData == undefined && newData == "") {
          this.setToDefault();
        }
      },

      onNorwegianChange: function(newData, oldData) {
        console.log("onNorwegianChange!\n" +
                    "new: " + JSON.stringify(newData) + "\n" +
                    "old: " + JSON.stringify(oldData));
      },

      onSubstantiveChanged: function(newData, oldData) {
        console.log("onSubstantiveChanged!\n" +
                    "new: " + JSON.stringify(newData) + "\n" +
                    "old: " + JSON.stringify(oldData));
        if(oldData == null && this.isEmpty(newData)) {
          console.log("Got an empty substantive from database, set the default values.");
          this.setToDefault();
        }
        else {
          console.log("Got a non empty substantive from database, set it for edition.");
          this.editableSubstantive = newData;
        }
      },

    })
  </script>
</dom-module>