
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../ordhuset-app/shared-style.html">
<link rel="import" href="../components/oh-substantive-editor.html">

<dom-module id="oh-word-editor">
  <template>
    <style include="shared-styles">
      :host {
      }
    </style>

    <firebase-document
        id="documentWord"
        app-name="ordhuset"
        path="/norwegian/[[key]]"
        data="{{editableWord}}">
    </firebase-document>

    <iron-a11y-keys id="a11y" keys="enter"
                on-keys-pressed="save"></iron-a11y-keys>

    <div class="card">
      <h2>{{key}}</h2>
      <paper-input
          id="norwegianInput"
          label="Type your word in Norwegian"
          always-float-label
          placeholder="Norwegian"
          value="{{key}}">
      </paper-input>
    </div>

    <div class="card">
      <h3>Substantives</h3>

      <oh-substantive-list-editor
          id="substantivesEditor"
          norwegian="[[key]]"
          is-new="[[isEmpty(editableWord)]]">
      </oh-substantive-list-editor>
    </div>

    <div class="card">
      <div>
        <paper-toggle-button checked="{{word.isVerb}}">Verb</paper-toggle-button>
        <!-- TODO insert verb editor here -->
      </div>
      <div>
        <paper-toggle-button checked="{{word.isAdjective}}">Adjective</paper-toggle-button>
        <!-- TODO insert adjective editor here -->
      </div>
      <div class="center">
        <!--<paper-button on-tap="save" disabled$="[[!isEmpty(editableWord)]]">Save</paper-button>-->
        <paper-button on-tap="save">Save</paper-button>
        <paper-button on-tap="cancel">Cancel</paper-button>
      </div>
    </div>

  </template>

  <script>
    Polymer({
      is: 'oh-word-editor',

      behaviors: [Polymer.OrdhusetBehavior],

      properties: {
        /** The key of the word in the database. */
        key: {
          type: String,
          notify: true,
        },
        /** The word as it is in the database. */
        word : {
          type: Object,
        },
        editableWord: {
          type: Object,
        },
        /** Wether the word editor is currently editing a word, a new one or an existing one. */
        isEditing: {
          type: Boolean,
          readOnly: true,
          notify: true,
          value: false,
        },
      },

      // Methods

      /**
       * Resets the word potentially currently under edition and set the editor
       * ready to edit a new one.
       */
      create: function() {
        this.$.documentWord.reset();
        this._setIsEditing(true);
      },

      /**
       * Start the edition of the word which key is given as parameter
       * @param {String} The key of the word to edit, must be valid.
       */
      edit: function(key) {
        console.log("Starting edition of word " + key);
        this._setKey(key);
        this._setIsEditing(true);
      },

      /**
       * Abort the current edition, all data enterd by the user are lost.
       */
      cancel: function() {
        this._setIsEditing(false);
        this.$.documentWord.reset();
        this.fire('cancel');
      },

      /**
       * Saves the word in database.
       */
      save: function() {
        // TODO this should return a nice promise.
        var nSubstantives = this.$.substantivesEditor.save();

        this.editableWord.isSubstantive = nSubstantives > 0;

        // But let's consider everything is perfect so far...
        // We save the word itself in the dictionary
        this.$.documentWord.save('/norwegian/', this.key)
          .then(function() {
            console.log("Word successfully saved in DB.");
          });
      },

      // Observers

      observerWord: function (newData, oldData) {
        console.log("WORD changed:\nOld: " + JSON.stringify(oldData) + "\nNew: " + JSON.stringify(newData));
      },

      // Compute functions

    });
  </script>
</dom-module>